---
import { Image } from "@astrojs/image/components";
import { ripstopLink } from "@/ts/links";
import RatingCollection from "./RatingCollection.astro";
import { partnerInfos } from "@/ts/partners";

type PartnerKeys = keyof typeof partnerInfos;

type Props = {
  ratings?: Record<string, string | number>;
  title: string;
  image: any;
  partners: Partial<Record<PartnerKeys, string>>;
};

const { ratings, title, partners, image } = Astro.props;
---

<section>
  <header>
    <a class="image left" style="outline: 0px;">
      <Image
        format="webp"
        width={400}
        aspectRatio="1:1"
        src={image}
        alt="fabric"
      />
    </a>
  </header>

  <div class="content">
    <h3>{title}</h3>
    <RatingCollection {ratings}>
      <div class="partners">
        {
          Object.entries(partners).map(([name, product]) => {
            const { label, image, ...partnerInfo } =
              partnerInfos[name as PartnerKeys];
            return (
              <a
                href={
                  partnerInfo.linkFn?.(product as string) || partnerInfo.link
                }
                target="_blank"
                class="label"
              >
                <Image src={image as any} alt={label} />
                <span class="label">{label}</span>
              </a>
            );
          })
        }
      </div>
    </RatingCollection>

    <p>
      <slot />
    </p>
  </div>
</section>
